body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); /* Set the text color to white for better visibility on a black background */
    margin-bottom: 100px;
    
}

.page {
    margin: auto;
    padding: 15px;
}

.header {
    text-align: center; /* Center-align the text */
    background: rgb(42,133,139);
background: linear-gradient(183deg, rgba(42,133,139,1) 0%, rgba(0,0,0,0.6432948179271709) 58%);
    color: #ffffff; /* Set the text color to white for better readability on a colored background */
    padding: 20px; /* Add some padding for spacing */
    margin-bottom: 100px; 
  }
  
  .header h3 {
    margin: 0; /* Remove default margin for the h3 element */

  }

  .choroplethsection {
    padding: 50px; 
    margin-top: 10px;
    text-align: center;
  }

  .proportionalsymbolsection {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
  }


  h3 {
    padding: 20px; 
    margin-top: 10px;
    text-align: center;
    border-bottom: 0.2px solid #fcfcfc;
  }
  
  
  .pure-u-1 {
    margin-top: 20px;
    text-align: center; 
  }


  .pure-u-g {
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .pure-u-1 h2 {

    text-align: center;
    margin: 0;

  }


  .description {
    padding: 10px; 
    text-align: center;
  }

  .bubblechart {
    block-size: 700px;
    width: 80%;
  }