body {
    background-color: rgb(30, 34, 35);
    color: rgb(255, 255, 255); /* Set the text color to white for better visibility on a black background */
    margin-bottom: 100px;
    font-family:  sans-serif;
    font-size: large;
    
}

/* .page {
    margin: auto;
    padding: 15px;
} */

.header {
    font-family: "Times New Roman", Times, serif;
    text-align: center; /* Center-align the text */
    background: rgb(42,133,139);
background: linear-gradient(183deg, rgba(42,133,139,1) 0%, rgb(30, 34, 35) 58%);
    color: #ffffff; /* Set the text color to white for better readability on a colored background */
    padding: 20px; /* Add some padding for spacing */
    margin-bottom: 100px; 
  }
  .text {
    font-family: "Times New Roman", Times, serif;
  }
  .header h3 {
    margin: 0; /* Remove default margin for the h3 element */

  }

  a {
    color:rgb(192, 203, 207)
  }

  a:visited {
    color: rgb(83, 195, 186); /* Change this to your desired color */
}

  #meta {
    color:rgb(192, 203, 207)
  }

  .keywords {
    color: rgb(83, 195, 186);
  }

  .colours {
    color: rgb(224, 76, 81);
  }


  .fossil {
    color: #acb8b8;
  }

  .nuclear {
    color:#9dc0be;
  }

  .renewable {
    color: #D6AD58;
  }

  .blue {
    color: #34c3eb;
  }

  .grey {
    color: #bcc2c6;
  }

  .orange {
    color: #ff7f0e;
  }


  #choroplethsection {
    padding: 50px; 
    margin-top: 20px;
    /* text-align: center; */
  }

  #stackedarea {
    padding-right: 100px; 
  }


  .sections {
    padding: 50px; 
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;
  }


  .description {
    font-family: "Times New Roman", Times, serif;
  }


  h3 {
    padding: 20px; 
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-bottom: 0.2px solid #fcfcfc;
  }
  
  
  .pure-u-1 {
    margin-top: 20px;
    text-align: center; 
  }


  .pure-u-g {
    margin-top: 30px;
    margin-bottom: 30px;
  }


  .pure-u-1 h2 {

    text-align: center;
    margin: 0;

  }

  #concatchart {
    padding-left: 100px; 
    width: 100%
  }
  
  #rankedbarchart {}

  .description {
    padding: 10px; 
    text-align: left;
    margin: auto;
  }

  .bubblechart {
    width: 80%;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
}

.scroll-to-top a {
    display: block;
    background-color: #33c4c6a0;
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 90%;
}

.scroll-to-top a:hover {
    background-color: #0056b3;
}